* {
  /* background-color: black; */
  /* border: 1px solid blue; */
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* overflow-x: hidden; */
}

body {
  width: 100vw;
  height: fit-content;
  margin: 0px;
  padding: 0px;
  background-color: #BCD8C1;
  /* background: linear-gradient(#BCD8C1, #439A86); */
}


/* NAV BAR */

.navbar {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin-top: 2em;
  /* background-color: red; */
}

.logo {
  margin: 0;
  padding: 0;
  height: fit-content;
}

.logo h1 {
  margin: 0;
  padding: 0;
  height: fit-content;
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 5%;
}

.navbar-container h1 {
  font-size: 3em;
}

.links {
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.links ul {
  display: inline-flex;
}

.links ul li {
  margin-left: 15px;
  list-style-type: none;
}

.links ul li a {
  text-decoration: none;
}

.links ul li a:hover {
  text-decoration: none;
  color: #fff;
}

/* MAIN PAGE TEXT */

.main-text {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  margin: 0;
  margin-top: 3vh;
  padding: 0;
  /* background-color: red; */
}

.main-text-container {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 15%;
  /* background-color: red; */
}

.main-text-left-container {
  text-align: left;
  width: 30%;
  margin: 0;
  padding-top: 20%;
  padding-left: 10%;
}

.main-text-left-container h1 {
  margin: 0;
  padding: 0;
}

.main-text-left-container :nth-child(2) {
  font-size: 5em;
  width: fit-content;
}

.main-text-left-container :nth-child(2):hover{
  color: #fff;
}

.main-text-right-container {
  width: 50%;
  margin: 0;
  padding: 0;
  padding-right: 0%;
  overflow: hidden;
}

.main-text-right-container img {
  width: 60em;
}

.main-text-farright-container {
  width: 10%;
  height: fit-content;
  margin: 5% 0% 0 0;
  padding: 0;
  transform: rotate(90deg);
}

/* About Me */

.about-me {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  width: 100%;
  height: fit-content;
  /* background-color: red; */
}

.about-me-container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
}

.about-me-left {
  padding: 10px;
  height: 500px;
  width: 50%;
  text-align: right;
}

.about-me-right {
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  height: 500px;
  width: 50%;
}

.about-me-right img:hover {
  transform: scale(110%);
  transition: 0.7s;
}

/* Portfolio */

.portfolio {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  width: 100%;
  height: fit-content;
  /* background-color: red; */
}

.portfolio-container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
}

.portfolio-left {
  padding: 10px;
  height: 500px;
  width: 50%;
  text-align: right;
}

.portfolio-right {
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  height: 500px;
  width: 50%;
}

.portfolio-right img:hover {
  transform: scale(110%);
  transition: 0.7s;
}

/* Contact Me */

.contact-me {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

form {
  margin-top: 5%;
  background-color: #b0ceb5;
  padding: 2.5%;
}



@media (max-width: 1200px) {

  .about-me {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    margin-top: 10vh;
    width: 100%;
    height: fit-content;
  }
  
  .about-me-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 80%;
  }
  
  .about-me-left {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    text-align: center;
  }
  
  .about-me-right {
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    height: 500px;
    width: 100%;
  }
  
  .about-me-right img:hover {
    transform: scale(110%);
    transition: 0.7s;
  }

  .portfolio {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    margin-top: 10vh;
    width: 100%;
    height: fit-content;
  }
  
  .portfolio-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 80%;
  }
  
  .portfolio-left {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    text-align: center;
  }
  
  .portfolio-right {
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    height: 500px;
    width: 100%;
  }
  
  .portfolio-right img:hover {
    transform: scale(110%);
    transition: 0.7s;
  }
}

@media (max-width: 400px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-top: 2em;
    /* background-color: red; */
  }
  
  .logo {
    margin: 0;
    padding: 0;
    height: fit-content;
  }
  
  .logo h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    height: fit-content;
    text-align: center;
  }
  
  .navbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 0px 5%;
  }

  .links ul li {
    margin-left: 15px;
    list-style-type: none;
  }

}